# Markdown / документация
**/*.md

# Конфиги и переменные окружения
**/.env
*.env
.env.*
*.tsbuildinfo

# node_modules везде
node_modules
packages/**/node_modules

# Сборочные артефакты
.cache
packages/**/dist
packages/**/.turbo
.next
dist
build

# Тесты
packages/**/*.test.*
packages/cli/dist/**/e2e.*
test-workflows
cypress

# Docker и dev
docker/compose
docker/**/Dockerfile
Dockerfile
docker-compose*
railway.toml
.devcontainer

# IDE
.vscode
.idea

# Git
.git
.github
!.github/scripts  # если нужны CI-скрипты

# Мусор
*.log
*.sqlite
.n8n

# Картинки и демо (если не нужны в проде)
assets/demo
